PORT=8000
MONGODB_URL=YOUR_URL
CROS_ORIGIN=*
ACCESS_TOKEN_SECRET=RANDOM_STRING
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=RANDOM_STRING
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_NAME=YOUR_NAME
CLOUDINARY_API_KEY=YOUR_KEY
CLOUDINARY_API_SECRET=YOUR_SECRET